[project]
name = ""
version = ""
description = ""
authors = [
    {name = "Simon Kirkby", email = "obeygiantrobot@gmail.com"},
]
dependencies = []
requires-python = ">=3.11"
license = {text = "MIT"}

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"
